<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic 8 Ball</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<div id="flex2">
    <h1 align="center" style="background-color: rgb(172, 172, 172); border-radius: 10px; border-color: rgb(20, 82, 20)">
    Magic 8 Ball</h1>
        <a href="magic.html" style="background-color: tan; border-radius: 10px; padding: 10px">Recipe for Brownies</a>
</div>

<body style="background-color: antiquewhite; border-radius: 10px; padding: 15px"><br>
    <div id="flex">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Magic_eight_ball.png"
            width="100px" height="100px">
            <p></p>
        </div>
  
    </div>

</body>
</html>
